<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Character of the week</title>
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body>
        <nav>
            <a href="/login">
                <img id="logo" src="/assets/img/logo.png" alt="COTW logo"/>
            </a>
            <div class="creatorNav"><a  href='/logout'>Log out</a></div>
        </nav>

        <section id="storageApp">

        </section>
        <div id="SheetMessage" class="hidden">
            <img id="warning" src="/assets/img/warning.png" alt="warning icon">
            <h3><span id='errorMessage'></span></h3>
        </div>
        <script type="text/javascript" src="/assets/storageBundle.js"></script>
    </body>
</html>