nav{
    background-color: #211f1a;
    height:12vh;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    border-radius:5px;
}

#sheetMessage{
  justify-content: center;
  flex-direction: column;
  color:wheat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#singleChar{
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

#singleChar div{
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #211f1a;
  color: wheat;
}

.updateRatings{
  width:7rem;
}
#warning{
  height:15vh;
  width:15vh;
}

#makeChar form{
  display: flex;
  gap:1rem;
}

#storageApp, #storageApp div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charList form{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #211f1a;
  border-radius: 10px;
  color:wheat;
  width:20rem;
}

.accountForm{
  margin: 5rem;;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
}

#content{
  display:flex;
  justify-content: center;
}

#logo{
  width:10vh;
  height:10vh;
}

#singleChar{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#ratingForm{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:5rem;
}

.singleRating{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.creatorNav{
    border: 4px solid transparent;
    background: linear-gradient(#211f1a, #211f1a), padding-box,
                linear-gradient(to bottom right, #b64c11, #fff500) border-box;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0.5rem;
    height:2rem;
    width: 8rem;
}


.creatorNav {
    background: linear-gradient(#211f1a, #211f1a) padding-box,
                linear-gradient(to bottom right,  #b64c11, #fff500) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    display: flex;
    justify-content: center;
  }
  
  /* demo stuff */
  .parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .btn-gradient-1,
  .btn-gradient-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: darkblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }



nav a:link, a:visited{
    /* background-color: #36332e; */
    color:#ebebeb;
    font-family: Arial, Helvetica, sans-serif;
}

html{
  background-color: #312f29;
}


.hidden {
  display: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}